/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@400;700&display=swap');
/* Header and Navigation Bar */
header {
  /*Header Background Color */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #023047;
  height: 60px;
  /*Line*/
  font-family: "Inter" , sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #FFB703;
  text-decoration: none;
  /*Flex-Box*/
  display: flex;
  align-items: center;
}
/*Logo*/
header> #logo {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  padding: 0;
  cursor: pointer;
}
/*General Navigation*/
nav, li, #learn #explore #about #contact {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}
/*Font Design*/
#learn, #explore, #about, #contact {
  font-family: "Inter" , sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #FFB703;
  text-decoration: none;
}
/*Hover*/
#learn:hover, #explore:hover, #about:hover, #contact:hover {
  color: white;
}
/*Spacing Only for Navigation */

header> div {
  display: inline-flex;
  padding: 0px 134px;
}
/*Section 1 */
#first {
  box-sizing: border-box;
  background-color: #8ECAE6;
  display: flex;
  flex-direction: column;
  height: 350px;
}
/* Recreate the World */
#first > h1{
  text-align: center;
  color:#023047 ;
  font-size: 100px;
  font-weight: 700;
  font-family:'Roboto', sans-serif;
  margin-bottom: 10px;
}
/* In learning how to code */
#first > p {
  text-align: center;
  color: #023047;
  font-size: 35px;
  margin-top: 10px;
  padding: 0;
}
/*Search Bar*/
#search {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  padding: 0px 10px;
  border: 4px solid  #023047;
  background-color: white;
}
input {
  width: 600px;
  height: 40px;
  background-color: none;
  border-radius: 50px;
  border: none;
  padding: 0px 5px;
  font-size: 20px;
}

input:focus {
  outline: none;
}
/*icon*/
div> .material-symbols-outlined {
  font-size: 200%;
  color: black;
  display: inline-flex;
  position: absolute;
  top: 10%; 
  right:5%;
}
/*Section 2 */
/*Feature Article*/
#second >h2 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: #023047;
}
/*Image Slider*/
#slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation:  10s slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
  height: 500px;
}
/*Animation for Slider 8 */
@keyframes slider {
  0% {
    left: 0 ;
  }
  20% {
    left: 0 ;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
/*footer*/
footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #023047;
  /*Text*/
  color: white;
  text-align: center;
}
footer> #privacy {
  text-decoration: underline;
  color: white;
  padding-bottom: 0;
  margin: 0;
}